<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>github:buttons</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="components/octicons/build/font/octicons.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <meta name="author" content="なつき">
    <meta name="description" content="The unofficial GitHub Buttons made for developers.">
    <meta name="keywords" content="GitHub, Developer, Button, Follow, Star, Fork, Issue, Gist, Octicon, API">
    <script>window.exports = {}</script>
    <script async defer src="assets/js/app.min.js"></script>
    <script src="//unpkg.com/vue@2.3.0/dist/vue.min.js"></script>
  </head>
  <body>
    <header class="header">
      <nav class="navbar d-block">
        <div class="container px-0 clearfix">
          <a class="navbar-brand"><span class="octicon octicon-logo-github" aria-label="GitHub"><!-- The Unofficial GitHub --></span><span class="logo logo-colon">:</span><span class="logo logo-buttons">buttons</span></a>
          <a class="nav-link float-right px-0" href="https://github.com/ntkme/github-buttons"><span class="hidden-xs-down"> View on GitHub </span><span class="octicon octicon-mark-github" aria-hidden="true"></span></a>
        </div>
      </nav>
    </header>
    <main>
      <div class="container my-3">
        <div id="app"></div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
      </div>
    </footer>
    <script type="text/x-template" id="github-button-preview-template">
      <p :style="{ height: config['data-style'] === 'mega' ? '28px' : '20px' }">
        <iframe allowtransparency="true" scrolling="no" frameBorder="0" src="buttons.html" style="width: 1px; height: 0px; border: none;"></iframe>
      </p>
    </script>
    <script type="text/x-template" id="github-button-code-template">
      <textarea class="form-control" rows="2" readonly
        v-model="text"
        @click="$el.select()"
        @focus="$el.select()"
        @mouseup.prevent></textarea>
    </script>
    <script type="text/x-template" id="app-template">
      <form autocapitalize="none" autocomplete="off" autocorrect="off" spellcheck="false">
        <fieldset class="form-group">
          <h4>Choose a button</h4>
          <div class="row">
            <div class="col-9 col-sm-6 col-md-4 col-lg-2">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="type" value="follow" v-model="options.type">
                  Follow
                  <br>
                  <span aria-hidden="true"><a class="github-button" href="#" data-style="mega" data-text="Follow"></a></span>
                </label>
              </div>
            </div>
            <div class="col-9 col-sm-6 col-md-4 col-lg-2">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="type" value="watch" v-model="options.type">
                  Watch
                  <br>
                  <span aria-hidden="true"><a class="github-button" href="#" data-icon="octicon-eye" data-style="mega" data-text="Watch"></a></span>
                </label>
              </div>
            </div>
            <div class="col-9 col-sm-6 col-md-4 col-lg-2">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="type" value="star" v-model="options.type">
                  Star
                  <br>
                  <span aria-hidden="true"><a class="github-button" href="#" data-icon="octicon-star" data-style="mega" data-text="Star"></a></span>
                </label>
              </div>
            </div>
            <div class="col-9 col-sm-6 col-md-4 col-lg-2">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="type" value="fork" v-model="options.type">
                  Fork
                  <br>
                  <span aria-hidden="true"><a class="github-button" href="#" data-icon="octicon-repo-forked" data-style="mega" data-text="Fork"></a></span>
                </label>
              </div>
            </div>
            <div class="col-9 col-sm-6 col-md-4 col-lg-2">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="type" value="issue" v-model="options.type">
                  Issue
                  <br>
                  <span aria-hidden="true"><a class="github-button" href="#" data-icon="octicon-issue-opened" data-style="mega" data-text="Issue"></a></span>
                </label>
              </div>
            </div>
            <div class="col-9 col-sm-6 col-md-4 col-lg-2">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="type" value="download" v-model="options.type">
                  Download
                  <br>
                  <span aria-hidden="true"><a class="github-button" href="#" data-icon="octicon-cloud-download" data-style="mega" data-text="Download"></a></span>
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <hr>
        <div class="row" v-if="options.type">
          <div class="col-12 col-sm-6 col-md-4">
            <h4>Button options</h4>
            <div class="form-group" :class="{ 'has-danger': hasDanger }">
              <div class="input-group">
                <input ref="user" class="form-control" type="text" maxlength="39" placeholder=":user" autofocus="autofocus" :class="{ 'form-control-danger': dangers.user }" v-model="options.user">
                <div class="input-group-addon">/</div>
                <input ref="repo" class="form-control" type="text" maxlength="100" placeholder=":repo" :disabled="options.type === 'follow'" :class="{ 'form-control-danger': dangers.repo }" v-model="options.repo">
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" v-model="options.largeButton"> Large button
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" v-model="options.showCount"> Show count
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" v-model="options.standardIcon"> Standard icon
                </label>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-8">
            <h4>Preview and code</h4>
            <p>Try out your button, then copy and paste the code below into the HTML for your site.</p>
            <github-button-preview :config="config"></github-button-preview>
            <div class="form-group">
              <github-button-code :text="code"></github-button-code>
            </div>
            <div class="form-group">
              <github-button-code :text="script"></github-button-code>
            </div>
          </div>
        </div>
      </form>
    </script>
  </body>
</html>
