@function blend($color, $background-color) {
  $red: ((1 - alpha($color)) * red($background-color) ) + (alpha($color) * red($color));
  $green: ((1 - alpha($color)) * green($background-color) ) + (alpha($color) * green($color));
  $blue: ((1 - alpha($color)) * blue($background-color) ) + (alpha($color) * blue($color));
  @return rgb($red, $green, $blue);
}


$color: #24292e;

$btn-background-color-start: #fafbfc;
$btn-background-color-stop: #e4ebf0;
$btn-background-color: mix($btn-background-color-start, $btn-background-color-stop);
$btn-border-color: blend(rgba(27, 31, 35, 0.2), white);

$btn-active-background-color: #e9ecef;
$btn-active-border-color: blend(rgba(27, 31, 35, 0.35), white);
$btn-active-box-shadow-color: rgba(27, 31, 35, 0.15);

$btn-focus-border-color: #c8e1ff;

$btn-hover-background-color-start: #f0f3f6;
$btn-hover-background-color-stop: #dce3ec;
$btn-hover-background-color: mix($btn-hover-background-color-start, $btn-hover-background-color-stop);
$btn-hover-border-color: blend(rgba(27, 31, 35, 0.35), white);

$social-count-hover-color: #0366d6;
$social-count-background-color: white;


@mixin linear-gradient($color-start, $color-stop) {
  background-image: -webkit-linear-gradient(top, $color-start, $color-stop);
  background-image: -moz-linear-gradient(top, $color-start, $color-stop);
  background-image: linear-gradient(to bottom, $color-start, $color-stop);
}

@mixin -ms-linear-gradient($color-start, $color-stop) {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($color-start)}', endColorstr='#{ie-hex-str($color-stop)}')";
  *filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($color-start)}', endColorstr='#{ie-hex-str($color-stop)}');
}


body {
  margin: 0;
}

a {
  color: $color;
  text-decoration: none;
  outline: 0;
}

.widget {
  display: inline-block;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 0;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn,
.social-count {
  display: inline-block;
  font-weight: 600;
  vertical-align: bottom;
  cursor: pointer;
  border: 1px solid $btn-border-color;
  border-radius: 0.25em;

  &:focus {
    border-color: $btn-focus-border-color;
  }
}

.btn {
  background-color: $btn-background-color;
  @include linear-gradient($btn-background-color-start, $btn-background-color-stop);
  background-repeat: repeat-x;
  background-size: 110% 110%;
  @include -ms-linear-gradient($btn-background-color-start, $btn-background-color-stop);

  &:active {
    background-color: $btn-active-background-color;
    background-image: none;
    border-color: $btn-active-border-color;
    box-shadow: inset 0 0.15em 0.3em $btn-active-box-shadow-color;
  }

  &:hover {
    background-color: $btn-hover-background-color;
    @include linear-gradient($btn-hover-background-color-start, $btn-hover-background-color-stop);
    border-color: $btn-hover-border-color;
    @include -ms-linear-gradient($btn-hover-background-color-start, $btn-hover-background-color-stop);
  }
}

.social-count {
  position: relative;
  background-color: $social-count-background-color;

  &:hover {
    color: $social-count-hover-color;
  }
}

.octicon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  fill: currentColor;
}

.btn,
.social-count {
  height: 18px;
  padding: 0 5px;
  line-height: 18px;
}
.btn {
  font-size: 11px;
}
.social-count {
  margin-left: 5px;
  font-size: 10px;
}
.octicon {
  height: 14px;
  top: 2px;
}

.large {
  .btn,
  .social-count {
    height: 26px;
    line-height: 26px;
  }

  .btn {
    padding: 0 10px;
    font-size: 12px;
  }

  .social-count {
    padding: 0 7px;
    margin-left: 7px;
    font-size: 11px;
  }

  .octicon {
    height: 18px;
    top: 4px;
  }
}

.social-count {
  b,
  i {
    position: absolute;
    top: 50%;
    right: 100%;
    display: block;
    width: 0;
    height: 0;
    margin-top: -4px;
    _font-size: 0;
    _line-height: 0;
    border: solid transparent;
    border-width: 4px 4px 4px 0;
  }

  b {
    margin-right: 0;
    border-right-color: $btn-border-color;
  }

  &:focus {
    b {
      border-right-color: $btn-focus-border-color;
    }
  }

  i {
    margin-right: -1.5px;
    border-right-color: $social-count-background-color;
  }

  b,
  i {
    _border-top-color: red!important;
    _border-bottom-color: red!important;
    _border-left-color: red!important;
    _filter: chroma(color=red);
  }
}

.large {
  .social-count {
    b,
    i {
      margin-top: -6px;
      border-width: 6px 6px 6px 0;
    }
  }
}
