.octicon-alert { zoom: expression( this.innerHTML = '&#xf02d;' ); } /*  */
.octicon-alignment-align { zoom: expression( this.innerHTML = '&#xf08a;' ); } /*  */
.octicon-alignment-aligned-to { zoom: expression( this.innerHTML = '&#xf08e;' ); } /*  */
.octicon-alignment-unalign { zoom: expression( this.innerHTML = '&#xf08b;' ); } /*  */
.octicon-arrow-down { zoom: expression( this.innerHTML = '&#xf03f;' ); } /*  */
.octicon-arrow-left { zoom: expression( this.innerHTML = '&#xf040;' ); } /*  */
.octicon-arrow-right { zoom: expression( this.innerHTML = '&#xf03e;' ); } /*  */
.octicon-arrow-small-down { zoom: expression( this.innerHTML = '&#xf0a0;' ); } /*  */
.octicon-arrow-small-left { zoom: expression( this.innerHTML = '&#xf0a1;' ); } /*  */
.octicon-arrow-small-right { zoom: expression( this.innerHTML = '&#xf071;' ); } /*  */
.octicon-arrow-small-up { zoom: expression( this.innerHTML = '&#xf09f;' ); } /*  */
.octicon-arrow-up { zoom: expression( this.innerHTML = '&#xf03d;' ); } /*  */
.octicon-beer { zoom: expression( this.innerHTML = '&#xf069;' ); } /*  */
.octicon-book { zoom: expression( this.innerHTML = '&#xf007;' ); } /*  */
.octicon-bookmark { zoom: expression( this.innerHTML = '&#xf07b;' ); } /*  */
.octicon-briefcase { zoom: expression( this.innerHTML = '&#xf0d3;' ); } /*  */
.octicon-broadcast { zoom: expression( this.innerHTML = '&#xf048;' ); } /*  */
.octicon-browser { zoom: expression( this.innerHTML = '&#xf0c5;' ); } /*  */
.octicon-bug { zoom: expression( this.innerHTML = '&#xf091;' ); } /*  */
.octicon-calendar { zoom: expression( this.innerHTML = '&#xf068;' ); } /*  */
.octicon-check { zoom: expression( this.innerHTML = '&#xf03a;' ); } /*  */
.octicon-checklist { zoom: expression( this.innerHTML = '&#xf076;' ); } /*  */
.octicon-chevron-down { zoom: expression( this.innerHTML = '&#xf0a3;' ); } /*  */
.octicon-chevron-left { zoom: expression( this.innerHTML = '&#xf0a4;' ); } /*  */
.octicon-chevron-right { zoom: expression( this.innerHTML = '&#xf078;' ); } /*  */
.octicon-chevron-up { zoom: expression( this.innerHTML = '&#xf0a2;' ); } /*  */
.octicon-circle-slash { zoom: expression( this.innerHTML = '&#xf084;' ); } /*  */
.octicon-circuit-board { zoom: expression( this.innerHTML = '&#xf0d6;' ); } /*  */
.octicon-clippy { zoom: expression( this.innerHTML = '&#xf035;' ); } /*  */
.octicon-clock { zoom: expression( this.innerHTML = '&#xf046;' ); } /*  */
.octicon-cloud-download { zoom: expression( this.innerHTML = '&#xf00b;' ); } /*  */
.octicon-cloud-upload { zoom: expression( this.innerHTML = '&#xf00c;' ); } /*  */
.octicon-code { zoom: expression( this.innerHTML = '&#xf05f;' ); } /*  */
.octicon-color-mode { zoom: expression( this.innerHTML = '&#xf065;' ); } /*  */
.octicon-comment-add, .octicon-comment { zoom: expression( this.innerHTML = '&#xf02b;' ); } /*  */
.octicon-comment-discussion { zoom: expression( this.innerHTML = '&#xf04f;' ); } /*  */
.octicon-credit-card { zoom: expression( this.innerHTML = '&#xf045;' ); } /*  */
.octicon-dash { zoom: expression( this.innerHTML = '&#xf0ca;' ); } /*  */
.octicon-dashboard { zoom: expression( this.innerHTML = '&#xf07d;' ); } /*  */
.octicon-database { zoom: expression( this.innerHTML = '&#xf096;' ); } /*  */
.octicon-device-camera { zoom: expression( this.innerHTML = '&#xf056;' ); } /*  */
.octicon-device-camera-video { zoom: expression( this.innerHTML = '&#xf057;' ); } /*  */
.octicon-device-desktop { zoom: expression( this.innerHTML = '&#xf27c;' ); } /*  */
.octicon-device-mobile { zoom: expression( this.innerHTML = '&#xf038;' ); } /*  */
.octicon-diff { zoom: expression( this.innerHTML = '&#xf04d;' ); } /*  */
.octicon-diff-added { zoom: expression( this.innerHTML = '&#xf06b;' ); } /*  */
.octicon-diff-ignored { zoom: expression( this.innerHTML = '&#xf099;' ); } /*  */
.octicon-diff-modified { zoom: expression( this.innerHTML = '&#xf06d;' ); } /*  */
.octicon-diff-removed { zoom: expression( this.innerHTML = '&#xf06c;' ); } /*  */
.octicon-diff-renamed { zoom: expression( this.innerHTML = '&#xf06e;' ); } /*  */
.octicon-ellipsis { zoom: expression( this.innerHTML = '&#xf09a;' ); } /*  */
.octicon-eye-unwatch, .octicon-eye-watch, .octicon-eye { zoom: expression( this.innerHTML = '&#xf04e;' ); } /*  */
.octicon-file-binary { zoom: expression( this.innerHTML = '&#xf094;' ); } /*  */
.octicon-file-code { zoom: expression( this.innerHTML = '&#xf010;' ); } /*  */
.octicon-file-directory { zoom: expression( this.innerHTML = '&#xf016;' ); } /*  */
.octicon-file-media { zoom: expression( this.innerHTML = '&#xf012;' ); } /*  */
.octicon-file-pdf { zoom: expression( this.innerHTML = '&#xf014;' ); } /*  */
.octicon-file-submodule { zoom: expression( this.innerHTML = '&#xf017;' ); } /*  */
.octicon-file-symlink-directory { zoom: expression( this.innerHTML = '&#xf0b1;' ); } /*  */
.octicon-file-symlink-file { zoom: expression( this.innerHTML = '&#xf0b0;' ); } /*  */
.octicon-file-text { zoom: expression( this.innerHTML = '&#xf011;' ); } /*  */
.octicon-file-zip { zoom: expression( this.innerHTML = '&#xf013;' ); } /*  */
.octicon-flame { zoom: expression( this.innerHTML = '&#xf0d2;' ); } /*  */
.octicon-fold { zoom: expression( this.innerHTML = '&#xf0cc;' ); } /*  */
.octicon-gear { zoom: expression( this.innerHTML = '&#xf02f;' ); } /*  */
.octicon-gift { zoom: expression( this.innerHTML = '&#xf042;' ); } /*  */
.octicon-gist { zoom: expression( this.innerHTML = '&#xf00e;' ); } /*  */
.octicon-gist-secret { zoom: expression( this.innerHTML = '&#xf08c;' ); } /*  */
.octicon-git-branch-create, .octicon-git-branch-delete, .octicon-git-branch { zoom: expression( this.innerHTML = '&#xf020;' ); } /*  */
.octicon-git-commit { zoom: expression( this.innerHTML = '&#xf01f;' ); } /*  */
.octicon-git-compare { zoom: expression( this.innerHTML = '&#xf0ac;' ); } /*  */
.octicon-git-merge { zoom: expression( this.innerHTML = '&#xf023;' ); } /*  */
.octicon-git-pull-request-abandoned, .octicon-git-pull-request { zoom: expression( this.innerHTML = '&#xf009;' ); } /*  */
.octicon-globe { zoom: expression( this.innerHTML = '&#xf0b6;' ); } /*  */
.octicon-graph { zoom: expression( this.innerHTML = '&#xf043;' ); } /*  */
.octicon-heart { zoom: expression( this.innerHTML = '&#x2665;' ); } /* ♥ */
.octicon-history { zoom: expression( this.innerHTML = '&#xf07e;' ); } /*  */
.octicon-home { zoom: expression( this.innerHTML = '&#xf08d;' ); } /*  */
.octicon-horizontal-rule { zoom: expression( this.innerHTML = '&#xf070;' ); } /*  */
.octicon-hourglass { zoom: expression( this.innerHTML = '&#xf09e;' ); } /*  */
.octicon-hubot { zoom: expression( this.innerHTML = '&#xf09d;' ); } /*  */
.octicon-inbox { zoom: expression( this.innerHTML = '&#xf0cf;' ); } /*  */
.octicon-info { zoom: expression( this.innerHTML = '&#xf059;' ); } /*  */
.octicon-issue-closed { zoom: expression( this.innerHTML = '&#xf028;' ); } /*  */
.octicon-issue-opened { zoom: expression( this.innerHTML = '&#xf026;' ); } /*  */
.octicon-issue-reopened { zoom: expression( this.innerHTML = '&#xf027;' ); } /*  */
.octicon-jersey { zoom: expression( this.innerHTML = '&#xf019;' ); } /*  */
.octicon-jump-down { zoom: expression( this.innerHTML = '&#xf072;' ); } /*  */
.octicon-jump-left { zoom: expression( this.innerHTML = '&#xf0a5;' ); } /*  */
.octicon-jump-right { zoom: expression( this.innerHTML = '&#xf0a6;' ); } /*  */
.octicon-jump-up { zoom: expression( this.innerHTML = '&#xf073;' ); } /*  */
.octicon-key { zoom: expression( this.innerHTML = '&#xf049;' ); } /*  */
.octicon-keyboard { zoom: expression( this.innerHTML = '&#xf00d;' ); } /*  */
.octicon-law { zoom: expression( this.innerHTML = '&#xf0d8;' ); } /*  */
.octicon-light-bulb { zoom: expression( this.innerHTML = '&#xf000;' ); } /*  */
.octicon-link { zoom: expression( this.innerHTML = '&#xf05c;' ); } /*  */
.octicon-link-external { zoom: expression( this.innerHTML = '&#xf07f;' ); } /*  */
.octicon-list-ordered { zoom: expression( this.innerHTML = '&#xf062;' ); } /*  */
.octicon-list-unordered { zoom: expression( this.innerHTML = '&#xf061;' ); } /*  */
.octicon-location { zoom: expression( this.innerHTML = '&#xf060;' ); } /*  */
.octicon-gist-private, .octicon-mirror-private, .octicon-git-fork-private, .octicon-lock { zoom: expression( this.innerHTML = '&#xf06a;' ); } /*  */
.octicon-logo-github { zoom: expression( this.innerHTML = '&#xf092;' ); } /*  */
.octicon-mail { zoom: expression( this.innerHTML = '&#xf03b;' ); } /*  */
.octicon-mail-read { zoom: expression( this.innerHTML = '&#xf03c;' ); } /*  */
.octicon-mail-reply { zoom: expression( this.innerHTML = '&#xf051;' ); } /*  */
.octicon-mark-github { zoom: expression( this.innerHTML = '&#xf00a;' ); } /*  */
.octicon-markdown { zoom: expression( this.innerHTML = '&#xf0c9;' ); } /*  */
.octicon-megaphone { zoom: expression( this.innerHTML = '&#xf077;' ); } /*  */
.octicon-mention { zoom: expression( this.innerHTML = '&#xf0be;' ); } /*  */
.octicon-microscope { zoom: expression( this.innerHTML = '&#xf089;' ); } /*  */
.octicon-milestone { zoom: expression( this.innerHTML = '&#xf075;' ); } /*  */
.octicon-mirror-public, .octicon-mirror { zoom: expression( this.innerHTML = '&#xf024;' ); } /*  */
.octicon-mortar-board { zoom: expression( this.innerHTML = '&#xf0d7;' ); } /*  */
.octicon-move-down { zoom: expression( this.innerHTML = '&#xf0a8;' ); } /*  */
.octicon-move-left { zoom: expression( this.innerHTML = '&#xf074;' ); } /*  */
.octicon-move-right { zoom: expression( this.innerHTML = '&#xf0a9;' ); } /*  */
.octicon-move-up { zoom: expression( this.innerHTML = '&#xf0a7;' ); } /*  */
.octicon-mute { zoom: expression( this.innerHTML = '&#xf080;' ); } /*  */
.octicon-no-newline { zoom: expression( this.innerHTML = '&#xf09c;' ); } /*  */
.octicon-octoface { zoom: expression( this.innerHTML = '&#xf008;' ); } /*  */
.octicon-organization { zoom: expression( this.innerHTML = '&#xf037;' ); } /*  */
.octicon-package { zoom: expression( this.innerHTML = '&#xf0c4;' ); } /*  */
.octicon-paintcan { zoom: expression( this.innerHTML = '&#xf0d1;' ); } /*  */
.octicon-pencil { zoom: expression( this.innerHTML = '&#xf058;' ); } /*  */
.octicon-person-add, .octicon-person-follow, .octicon-person { zoom: expression( this.innerHTML = '&#xf018;' ); } /*  */
.octicon-pin { zoom: expression( this.innerHTML = '&#xf041;' ); } /*  */
.octicon-playback-fast-forward { zoom: expression( this.innerHTML = '&#xf0bd;' ); } /*  */
.octicon-playback-pause { zoom: expression( this.innerHTML = '&#xf0bb;' ); } /*  */
.octicon-playback-play { zoom: expression( this.innerHTML = '&#xf0bf;' ); } /*  */
.octicon-playback-rewind { zoom: expression( this.innerHTML = '&#xf0bc;' ); } /*  */
.octicon-plug { zoom: expression( this.innerHTML = '&#xf0d4;' ); } /*  */
.octicon-repo-create, .octicon-gist-new, .octicon-file-directory-create, .octicon-file-add, .octicon-plus { zoom: expression( this.innerHTML = '&#xf05d;' ); } /*  */
.octicon-podium { zoom: expression( this.innerHTML = '&#xf0af;' ); } /*  */
.octicon-primitive-dot { zoom: expression( this.innerHTML = '&#xf052;' ); } /*  */
.octicon-primitive-square { zoom: expression( this.innerHTML = '&#xf053;' ); } /*  */
.octicon-pulse { zoom: expression( this.innerHTML = '&#xf085;' ); } /*  */
.octicon-puzzle { zoom: expression( this.innerHTML = '&#xf0c0;' ); } /*  */
.octicon-question { zoom: expression( this.innerHTML = '&#xf02c;' ); } /*  */
.octicon-quote { zoom: expression( this.innerHTML = '&#xf063;' ); } /*  */
.octicon-radio-tower { zoom: expression( this.innerHTML = '&#xf030;' ); } /*  */
.octicon-repo-delete, .octicon-repo { zoom: expression( this.innerHTML = '&#xf001;' ); } /*  */
.octicon-repo-clone { zoom: expression( this.innerHTML = '&#xf04c;' ); } /*  */
.octicon-repo-force-push { zoom: expression( this.innerHTML = '&#xf04a;' ); } /*  */
.octicon-gist-fork, .octicon-repo-forked { zoom: expression( this.innerHTML = '&#xf002;' ); } /*  */
.octicon-repo-pull { zoom: expression( this.innerHTML = '&#xf006;' ); } /*  */
.octicon-repo-push { zoom: expression( this.innerHTML = '&#xf005;' ); } /*  */
.octicon-rocket { zoom: expression( this.innerHTML = '&#xf033;' ); } /*  */
.octicon-rss { zoom: expression( this.innerHTML = '&#xf034;' ); } /*  */
.octicon-ruby { zoom: expression( this.innerHTML = '&#xf047;' ); } /*  */
.octicon-screen-full { zoom: expression( this.innerHTML = '&#xf066;' ); } /*  */
.octicon-screen-normal { zoom: expression( this.innerHTML = '&#xf067;' ); } /*  */
.octicon-search-save, .octicon-search { zoom: expression( this.innerHTML = '&#xf02e;' ); } /*  */
.octicon-server { zoom: expression( this.innerHTML = '&#xf097;' ); } /*  */
.octicon-settings { zoom: expression( this.innerHTML = '&#xf07c;' ); } /*  */
.octicon-log-in, .octicon-sign-in { zoom: expression( this.innerHTML = '&#xf036;' ); } /*  */
.octicon-log-out, .octicon-sign-out { zoom: expression( this.innerHTML = '&#xf032;' ); } /*  */
.octicon-split { zoom: expression( this.innerHTML = '&#xf0c6;' ); } /*  */
.octicon-squirrel { zoom: expression( this.innerHTML = '&#xf0b2;' ); } /*  */
.octicon-star-add, .octicon-star-delete, .octicon-star { zoom: expression( this.innerHTML = '&#xf02a;' ); } /*  */
.octicon-steps { zoom: expression( this.innerHTML = '&#xf0c7;' ); } /*  */
.octicon-stop { zoom: expression( this.innerHTML = '&#xf08f;' ); } /*  */
.octicon-repo-sync, .octicon-sync { zoom: expression( this.innerHTML = '&#xf087;' ); } /*  */
.octicon-tag-remove, .octicon-tag-add, .octicon-tag { zoom: expression( this.innerHTML = '&#xf015;' ); } /*  */
.octicon-telescope { zoom: expression( this.innerHTML = '&#xf088;' ); } /*  */
.octicon-terminal { zoom: expression( this.innerHTML = '&#xf0c8;' ); } /*  */
.octicon-three-bars { zoom: expression( this.innerHTML = '&#xf05e;' ); } /*  */
.octicon-tools { zoom: expression( this.innerHTML = '&#xf031;' ); } /*  */
.octicon-trashcan { zoom: expression( this.innerHTML = '&#xf0d0;' ); } /*  */
.octicon-triangle-down { zoom: expression( this.innerHTML = '&#xf05b;' ); } /*  */
.octicon-triangle-left { zoom: expression( this.innerHTML = '&#xf044;' ); } /*  */
.octicon-triangle-right { zoom: expression( this.innerHTML = '&#xf05a;' ); } /*  */
.octicon-triangle-up { zoom: expression( this.innerHTML = '&#xf0aa;' ); } /*  */
.octicon-unfold { zoom: expression( this.innerHTML = '&#xf039;' ); } /*  */
.octicon-unmute { zoom: expression( this.innerHTML = '&#xf0ba;' ); } /*  */
.octicon-versions { zoom: expression( this.innerHTML = '&#xf064;' ); } /*  */
.octicon-remove-close, .octicon-x { zoom: expression( this.innerHTML = '&#xf081;' ); } /*  */
.octicon-zap { zoom: expression( this.innerHTML = '&#x26a1;' ); } /* ⚡ */