.octicon-alert,
.octicon-microscope,
.octicon-beaker,
.octicon-book,
.octicon-broadcast,
.octicon-bug,
.octicon-checklist,
.octicon-cloud-download,
.octicon-cloud-upload,
.octicon-comment-discussion,
.octicon-credit-card,
.octicon-dashboard,
.octicon-clone,
.octicon-desktop-download,
.octicon-device-camera,
.octicon-device-camera-video,
.octicon-device-desktop,
.octicon-eye-unwatch,
.octicon-eye-watch,
.octicon-eye,
.octicon-graph,
.octicon-home,
.octicon-issue-closed,
.octicon-keyboard,
.octicon-link,
.octicon-mark-github,
.octicon-markdown,
.octicon-megaphone,
.octicon-mirror-public,
.octicon-mirror,
.octicon-mortar-board,
.octicon-mute,
.octicon-no-newline,
.octicon-octoface,
.octicon-package,
.octicon-pin,
.octicon-plug,
.octicon-radio-tower,
.octicon-repo-clone,
.octicon-repo-pull,
.octicon-rocket,
.octicon-ruby,
.octicon-search-save,
.octicon-search,
.octicon-settings,
.octicon-log-out,
.octicon-sign-out,
.octicon-smiley,
.octicon-squirrel,
.octicon-tasklist,
.octicon-thumbsdown,
.octicon-thumbsup,
.octicon-tools,
.octicon-unmute,
.octicon-unverified,
.octicon-verified {
  width: 1em;
}

.octicon-arrow-down,
.octicon-arrow-left,
.octicon-arrow-right,
.octicon-arrow-up,
.octicon-bold,
.octicon-bookmark,
.octicon-chevron-down,
.octicon-chevron-up,
.octicon-device-mobile,
.octicon-git-branch-create,
.octicon-git-branch-delete,
.octicon-git-branch,
.octicon-horizontal-rule,
.octicon-gist-fork,
.octicon-repo-forked,
.octicon-rss,
.octicon-zap {
  width: 0.625em;
}

.octicon-arrow-small-down,
.octicon-arrow-small-left,
.octicon-arrow-small-right,
.octicon-arrow-small-up,
.octicon-italic,
.octicon-triangle-left,
.octicon-triangle-right {
  width: 0.375em;
}

.octicon-bell,
.octicon-briefcase,
.octicon-browser,
.octicon-calendar,
.octicon-circle-slash,
.octicon-circuit-board,
.octicon-clippy,
.octicon-clock,
.octicon-code,
.octicon-comment-add,
.octicon-comment,
.octicon-diff,
.octicon-diff-added,
.octicon-diff-ignored,
.octicon-diff-modified,
.octicon-diff-removed,
.octicon-diff-renamed,
.octicon-file-directory,
.octicon-file-submodule,
.octicon-file-symlink-directory,
.octicon-fold,
.octicon-gear,
.octicon-gift,
.octicon-gist-secret,
.octicon-git-commit,
.octicon-git-compare,
.octicon-globe,
.octicon-history,
.octicon-hubot,
.octicon-inbox,
.octicon-info,
.octicon-issue-opened,
.octicon-issue-reopened,
.octicon-jersey,
.octicon-key,
.octicon-law,
.octicon-mail,
.octicon-mail-read,
.octicon-mention,
.octicon-milestone,
.octicon-organization,
.octicon-pencil,
.octicon-pulse,
.octicon-question,
.octicon-quote,
.octicon-shield,
.octicon-log-in,
.octicon-sign-in,
.octicon-star-add,
.octicon-star-delete,
.octicon-star,
.octicon-stop,
.octicon-tag-remove,
.octicon-tag-add,
.octicon-tag,
.octicon-telescope,
.octicon-terminal,
.octicon-unfold,
.octicon-versions {
  width: 0.875em;
}

.octicon-check,
.octicon-database,
.octicon-ellipsis,
.octicon-file-binary,
.octicon-file-code,
.octicon-file-media,
.octicon-file-pdf,
.octicon-file-symlink-file,
.octicon-file-text,
.octicon-file-zip,
.octicon-flame,
.octicon-gist,
.octicon-git-merge,
.octicon-git-pull-request-abandoned,
.octicon-git-pull-request,
.octicon-heart,
.octicon-light-bulb,
.octicon-link-external,
.octicon-list-ordered,
.octicon-list-unordered,
.octicon-location,
.octicon-gist-private,
.octicon-mirror-private,
.octicon-git-fork-private,
.octicon-lock,
.octicon-mail-reply,
.octicon-paintcan,
.octicon-repo-create,
.octicon-gist-new,
.octicon-file-directory-create,
.octicon-file-add,
.octicon-plus,
.octicon-repo-delete,
.octicon-repo,
.octicon-repo-force-push,
.octicon-repo-push,
.octicon-server,
.octicon-repo-sync,
.octicon-sync,
.octicon-three-bars,
.octicon-trashcan,
.octicon-triangle-down,
.octicon-triangle-up,
.octicon-watch,
.octicon-remove-close,
.octicon-x {
  width: 0.75em;
}

.octicon-chevron-left,
.octicon-chevron-right,
.octicon-dash,
.octicon-person-add,
.octicon-person-follow,
.octicon-person,
.octicon-primitive-dot,
.octicon-primitive-square {
  width: 0.5em;
}

.octicon-logo-gist {
  width: 1.5625em;
}

.octicon-logo-github {
  width: 2.8125em;
}

.octicon-text-size {
  width: 1.125em;
}