@function blend($color, $background-color: #fff) {
  $red: ((1 - alpha($color)) * red($background-color) ) + (alpha($color) * red($color));
  $green: ((1 - alpha($color)) * green($background-color) ) + (alpha($color) * green($color));
  $blue: ((1 - alpha($color)) * blue($background-color) ) + (alpha($color) * blue($color));
  @return rgb($red, $green, $blue);
}


$color: #24292e;

$btn-background-color-start: #fafbfc;
$btn-background-color-stop: #eff3f6;
$btn-background-color: $btn-background-color-stop;
$btn-border-color: rgba(27, 31, 35, 0.2);

$btn-active-background-color: #e9ecef;
$btn-active-border-color: rgba(27, 31, 35, 0.35);
$btn-active-box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);

$btn-hover-background-color-start: #f0f3f6;
$btn-hover-background-color-stop: #e6ebf1;
$btn-hover-background-color: $btn-hover-background-color-stop;
$btn-hover-border-color: rgba(27, 31, 35, 0.35);

$social-count-hover-color: #0366d6;
$social-count-background-color: #fff;


@mixin linear-gradient($color-start, $color-stop, $color-stop-percentage: 90%) {
  background-image: -webkit-linear-gradient(top, $color-start, $color-stop $color-stop-percentage);
  background-image: -moz-linear-gradient(top, $color-start, $color-stop $color-stop-percentage);
  background-image: linear-gradient(180deg, $color-start, $color-stop $color-stop-percentage);
}

@mixin -ms-linear-gradient($color-start, $color-stop, $color-stop-percentage: 90%) {
  $red: red($color-start) + (red($color-stop) - red($color-start)) / $color-stop-percentage * 100%;
  $green: green($color-start) + (green($color-stop) - green($color-start)) / $color-stop-percentage * 100%;
  $blue: blue($color-start) + (blue($color-stop) - blue($color-start)) / $color-stop-percentage * 100%;
  $color-stop: rgb($red, $green, $blue);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#{ie-hex-str($color-start)}', endColorstr='#{ie-hex-str($color-stop)}')";
  *filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#{ie-hex-str($color-start)}', endColorstr='#{ie-hex-str($color-stop)}');
}

body {
  margin: 0;
}

a {
  color: $color;
  text-decoration: none;
  outline: 0;
}

@import '../node_modules/octicons/index';

.widget {
  display: inline-block;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 0;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn,
.social-count {
  display: inline-block;
  height: 14px;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  vertical-align: bottom;
  cursor: pointer;
  border: 1px solid blend($btn-border-color, $btn-background-color);
  border-color: $btn-border-color;
  border-radius: 0.25em;
}

.btn {
  background-color: $btn-background-color;
  @include linear-gradient($btn-background-color-start, $btn-background-color-stop);
  background-position: -1px -1px;
  background-repeat: repeat-x;
  background-size: 110% 110%;
  @include -ms-linear-gradient($btn-background-color-start, $btn-background-color-stop);

  &:active {
    background-color: $btn-active-background-color;
    background-image: none;
    border-color: blend($btn-active-border-color, $btn-background-color);
    border-color: $btn-active-border-color;
    box-shadow: $btn-active-box-shadow;
  }

  &:focus, &:hover {
    background-color: $btn-hover-background-color;
    @include linear-gradient($btn-hover-background-color-start, $btn-hover-background-color-stop);
    border-color: blend($btn-hover-border-color, $btn-background-color);
    border-color: $btn-hover-border-color;
    @include -ms-linear-gradient($btn-hover-background-color-start, $btn-hover-background-color-stop);
  }
}

.social-count {
  position: relative;
  margin-left: 5px;
  background-color: $social-count-background-color;

  &:focus, &:hover {
    color: $social-count-hover-color;
  }

  b,
  i {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    margin: -3px 0 0 -3px;
    border: solid transparent;
    border-width: 3px 3px 3px 0;
    _line-height: 0;
    _border-top-color: red!important;
    _border-bottom-color: red!important;
    _border-left-color: red!important;
    _filter: chroma(color=red);
  }

  b {
    margin-left: -4px;
    border-right-color: blend($btn-border-color, $social-count-background-color);
    border-right-color: $btn-border-color;
    *border-right-color: blend($btn-border-color, $social-count-background-color);
  }

  i {
    border-right-color: $social-count-background-color;
  }
}

.lg {
  .btn,
  .social-count {
    height: 16px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 16px;
  }

  .social-count {
    margin-left: 6px;

    b,
    i {
      margin: -4px 0 0 -4px;
      border-width: 4px 4px 4px 0;
    }

    b {
      margin-left: -5px;
    }
  }
}
