@use "mixins" as *;

$scheme: light !default;

$enable-background-image-linear-gradient: str-index($scheme, '_high_contrast') == null !default;

$btn-color: primitive(colors, $scheme, btn, text) !default;
$btn-background-color-start: primitive(colors, $scheme, btn, bg) !default;
$btn-background-color-stop: if($enable-background-image-linear-gradient, darken($btn-background-color-start, 3.3333333333%), $btn-background-color-start) !default;
$btn-border-color: primitive(colors, $scheme, btn, border) !default;
$btn-hover-background-color-start: primitive(colors, $scheme, btn, hoverBg) !default;
$btn-hover-background-color-stop: darken($btn-hover-background-color-start, 3.3333333333%) !default;
$btn-hover-border-color: primitive(colors, $scheme, btn, hoverBorder) !default;
$btn-focus-visible-outline-color: primitive(colors, $scheme, accent, fg) !default;
$btn-active-background-color: darken(desaturate($btn-background-color-start, 10%), 6%) !default;
$btn-active-border-color: $btn-hover-border-color !default;
$social-count-color:  primitive(colors, $scheme, btn, text) !default;
$social-count-background-color: primitive(colors, $scheme, canvas, default) !default;
$social-count-border-color: $btn-border-color !default;
$social-count-hover-color: primitive(colors, $scheme, accent, fg) !default;
$octicon-heart-color: primitive(colors, $scheme, sponsors, fg) !default;

.btn,
.social-count {
  &:focus-visible {
    outline: 2px solid $btn-focus-visible-outline-color;
    outline-offset: -2px;
  }
}

.btn {
  @include blend(
    $color: $btn-color,
    $background-color: $btn-background-color-stop,
    $border-color: $btn-border-color,
  );
  @if ($enable-background-image-linear-gradient) {
    @include background-image-linear-gradient(
      $btn-background-color-start,
      $btn-background-color-stop,
    );
  }
  @else {
    @include background-image-none;
  }

  &:hover,
  &:focus {
    @include blend(
      $background-color: $btn-hover-background-color-stop,
      $background-position: 0 (-0.5em),
      $border-color: $btn-hover-border-color,
    );
    @if ($enable-background-image-linear-gradient) {
      @include background-image-linear-gradient(
        $btn-hover-background-color-start,
        $btn-hover-background-color-stop,
      );
    }
    @else {
      @include background-image-none;
    }
  }

  &:active {
    @include blend(
      $background-color: $btn-active-background-color,
      $border-color: $btn-active-border-color,
    );
    @if ($enable-background-image-linear-gradient) {
      @include background-image-none;
    }
  }
}

.social-count {
  @include blend(
    $color: $social-count-color,
    $background-color: $social-count-background-color,
    $border-color: $social-count-border-color,
  );

  &:hover,
  &:focus {
    color: $social-count-hover-color;
  }
}

.octicon-heart {
  color: $octicon-heart-color;
}
