@import 'functions';
@import 'mixins';

.btn,
.social-count {
  color: $color;
  border-color: blend($btn-border-color, $btn-background-color);
}

.btn {
  background-color: $btn-background-color;
  @include linear-gradient($btn-background-color-start, $btn-background-color-stop);
  background-position: -1px -1px;
  background-repeat: repeat-x;
  background-size: 110% 110%;
  border-color: $btn-border-color;
  @include -ms-linear-gradient($btn-background-color-start, $btn-background-color-stop);

  &:active {
    background-color: $btn-active-background-color;
    background-image: none;
    border-color: blend($btn-active-border-color, $btn-background-color);
    border-color: $btn-active-border-color;
    box-shadow: $btn-active-box-shadow;
  }

  &:focus, &:hover {
    background-color: $btn-hover-background-color;
    @include linear-gradient($btn-hover-background-color-start, $btn-hover-background-color-stop);
    border-color: blend($btn-hover-border-color, $btn-background-color);
    border-color: $btn-hover-border-color;
    @include -ms-linear-gradient($btn-hover-background-color-start, $btn-hover-background-color-stop);
  }
}

.social-count {
  background-color: $social-count-background-color;

  &:focus, &:hover {
    color: $social-count-hover-color;
  }

  b {
    border-right-color: blend($btn-border-color, $btn-background-color);
  }

  i {
    border-right-color: $social-count-background-color;
  }
}
