@mixin linear-gradient($color-start, $color-stop, $color-stop-percentage: 90%) {
  background-image: -webkit-linear-gradient(top, $color-start, $color-stop $color-stop-percentage);
  background-image: -moz-linear-gradient(top, $color-start, $color-stop $color-stop-percentage);
  background-image: linear-gradient(180deg, $color-start, $color-stop $color-stop-percentage);
}

@mixin -ms-linear-gradient($color-start, $color-stop, $color-stop-percentage: 90%) {
  $red: red($color-start) + (red($color-stop) - red($color-start)) / $color-stop-percentage * 100%;
  $green: green($color-start) + (green($color-stop) - green($color-start)) / $color-stop-percentage * 100%;
  $blue: blue($color-start) + (blue($color-stop) - blue($color-start)) / $color-stop-percentage * 100%;
  $color-stop: rgb($red, $green, $blue);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorstr='#{ie-hex-str($color-start)}', endColorstr='#{ie-hex-str($color-stop)}')";
  *filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#{ie-hex-str($color-start)}', endColorstr='#{ie-hex-str($color-stop)}');
}
