body {
  margin: 0;
}

a {
  text-decoration: none;
  outline: 0;
}

@import '../../node_modules/octicons';

.widget {
  display: inline-block;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 0;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn,
.social-count {
  display: inline-block;
  height: 14px;
  padding: 2px 5px;
  font-size: 11px;
  font-weight: 600;
  line-height: 14px;
  vertical-align: bottom;
  cursor: pointer;
  border: 1px solid;
  border-radius: 0.25em;
}

.social-count {
  position: relative;
  margin-left: 5px;

  b,
  i {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    margin: -4px 0 0 -4px;
    border: solid transparent;
    border-width: 4px 4px 4px 0;
    _line-height: 0;
    _border-top-color: red!important;
    _border-bottom-color: red!important;
    _border-left-color: red!important;
    _filter: chroma(color=red);
  }

  i {
    margin-left: -3px;
  }
}

.widget-lg {
  .btn,
  .social-count {
    height: 16px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 16px;
  }

  .social-count {
    margin-left: 6px;

    b,
    i {
      margin: -5px 0 0 -5px;
      border-width: 5px 5px 5px 0;
    }

    i {
      margin-left: -4px;
    }
  }
}
