@import '../../node_modules/primer-support/lib/variables/color-system';

$color: $gray-300;

$btn-background-color-start: $gray-800;
$btn-background-color-stop: darken($btn-background-color-start, 3.3%);
$btn-background-color: $btn-background-color-stop;
$btn-border-color: rgba($black, 0.8);

$btn-active-background-color: darken($gray-800, 5%);
$btn-active-border-color: rgba($black, 0.65);
$btn-active-box-shadow: inset 0 0.15em 0.3em rgba($black, 0.85);

$btn-hover-background-color-start: lighten($gray-800, 5%);
$btn-hover-background-color-stop: darken($btn-hover-background-color-start, 3.3%);
$btn-hover-background-color: $btn-hover-background-color-stop;
$btn-hover-border-color: rgba($black, 0.65);

$social-count-hover-color: $blue-400;
$social-count-background-color: $black;

@import 'color-scheme';
